.item:hover{
    border:1px solid red;
}
.item{
    border:1px solid white;

}

.container{
        padding:10px;
        display:inline-block;
}

.is-active{
    border:1px solid blue;
    display:inline-block;
}
